service: core

custom:
  settings:
    searchTable: ServiceProvider
    userTable: UserT
    algoliaAppId: ${ssm:/e-ugostitelji/algolia/app-id}
    algoliaAdminApiKey: ${ssm:/e-ugostitelji/algolia/api-key}
    algoliaIndexName: service_provider

package:
  individually: true

plugins:
  - serverless-bundle
  - serverless-offline
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs12.x
  stackName: eugostitelji-core-stack
  apiName: eugostitelji-api
  stage: dev
  region: us-east-1
  lambdaHashingVersion: "20201221"

  environment:
    tableName: ${env:TABLE_NAME}

#   iamRoleStatements:
#     - Effect: Allow
#       Action:
#         - dynamodb:Scan
#         - dynamodb:Query
#         - dynamodb:GetItem
#         - dynamodb:PutItem
#         - dynamodb:UpdateItem
#         - dynamodb:DeleteItem
#         - dynamodb:DescribeTable
#       Resource: "arn:aws:dynamodb:us-east-1:*:*"

functions:
#   algoliaSync:
#     # Syncs ServiceProvider table to algolia service
#     handler: algoliaSync.main
#     events:
#       - stream:
#           type: dynamodb
#           arn: !GetAtt ServiceProvider.StreamArn
  confirmUserSignUp:
    handler: confirmUserSignUp.confirm

resources:
  - ${file(resources/cognito.yml)}
  - ${file(resources/dynamodb.yml)}
